html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #fff;
  font-family: sans-serif;
  
  
}

img {
  max-width: 100%;
  height: auto;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}
p{
  margin: 0;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.form__container{
  height: 100vh;
  position: relative;
}
.forma{
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.navbar-collapse{
  justify-content: end;
}
.all{
  display: flex;
  align-items: center;
}
.navs{
  flex-grow: 1;
}
.btn-outline-info{
  padding: 19px;
  margin-left: 10px;
}
.todo{
  margin-left: 102px;
}
.doing{
  margin-right: 10px;
}
.done{
  
  margin-right: 79px;

}
.btns-us{
  text-align: end;
}